MONGODB_CONNECTION_STRING=mongodb+srv://gabrieltakyie:5wZN0g}~vcH*4E[s@clusterdwellobackendpro.dqtpjjt.mongodb.net/?retryWrites=true&w=majority&appName=ClusterDwelloBackendProject
DATABASE_NAME=dwelloDB